/* You have to use !important to override styles from FullCalendar */

.fc-button {
  background-color: var(--color-background) !important;
  color: var(--color-textBlack) !important;
  font-family: var(--font-montserrat) !important;
  border-bottom-left-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
  border-width: 0 2px 4px 0 !important; 
  padding: 8px 16px !important;
  transition: all 0.2s ease !important;
  border-color: var(--color-primary) !important;
}

.fc-button-active, .fc-button:hover:not(:disabled) {
  background-color: var(--color-primary) !important;
  color: var(--color-textWhite) !important;
  border-bottom-color: var(--color-secondary) !important;
}

.fc-prev-button, .fc-next-button, .fc-today-button {
  border-bottom: none !important;
}

.fc-button:last-child {
  border-right: none !important;
}

.fc-toolbar-title {
  color: var(--color-textBlack) !important;
  font-family: var(--font-montserrat) !important;
  font-size: xx-large !important;
}

.fc-theme-standard,
.fc-theme-standard td,
.fc-theme-standard th {
  color: var(--color-textBlack) !important;
  font-family: var(--font-montserrat) !important;
}

.fc-day-today {
    background-color: color-mix(in srgb, var(--color-secondary) 10%, transparent) !important;
}

.fc-event {
  display: inline-block !important; 
  vertical-align: top;
}

.fc-daygrid-event-harness {
  display: inline-block !important;
  width: auto !important;
  margin: 2px !important;
}

.highlighted-date {
  background: color-mix(in srgb, var(--color-accent) 10%, transparent) !important;
}

@media (max-width: 640px) {
  .fc-toolbar-title {
    font-size: 1.1rem !important;
  }
  .fc-button {
    font-size: 0.85rem !important;
    padding: 0.2rem 0.5rem !important;
  }
  .fc .fc-daygrid-day-frame {
    padding: 2px !important;
  }
}

@media (max-width: 640px) {
  .fc-event .w-8, .fc-event .h-8 {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .fc-event .sm\:w-12, .fc-event .sm\:h-12 {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}